<% provide(:title, "About") %>
<h2>Todo Memo Appの使い方</h2>

<div class="text">
<ol class="text2">
  <li>ユーザーを登録する。<br>
      ※ゲストユーザーを用意しました。<br>
       下記メールアドレス、パスワードを利用してログインしてください。<br>
      メールアドレス：guest@example.com<br>
      パスワード：password<br>
  </li>

  <li>ログイン画面からログインする</li>

  <li>ユーザー登録後にメモの登録ができるようになる。</li>

  <li>新規登録からメモを登録することができる。登録内容を一覧で確認が可能。
      登録した内容は編集、削除が可能。</li>

  <li>ログアウトより外れることができる。</li>
</ol>
</div>