<div class="center">

  <h1>Todo Memo App</h1>
  
  <div class="box">
    <%= image_pack_tag 'todo-lists-5238324_640.jpeg' %>
    <p>Welcome to the Todo Memo App</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>