<% provide(:title, "Forgot password") %>
<div class="form-wrapper">
  <h2>パスワードをお忘れですか？</h2>
  <%= form_with(url: password_resets_path, scope: :password_reset,
          local: true) do |f| %>
    <div class="form-item">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  <%= f.submit "Submit", class: "btn btn-panel" %>
  <% end %>
</div>
