<h1>ToDo Memo App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to the ToDo Memo App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                              email: @user.email) %>

<p>■About this email</p>

<p>This is just an email to register your portfolio.</p>

<p>I haven't received a reply about this email.</p>

<p>If you have no idea, delete it.</p>
