<h1>ToDo Memo App</h1>

<p>こんにちわ <%= @user.name %>,</p>

<p>
  ToDoメモアプリへようこそ！ 以下のリンクをクリックして、アカウントをアクティブ化してください。
</p>

<%= link_to "有効化", edit_account_activation_url(@user.activation_token,
                              email: @user.email) %>

<p>■このメールについて</p>

<p>これはポートフォリオを登録するための単なるメールです。</p>

<p>このメールについての返信はありません。</p>

<p>わからない場合は削除してください。</p>
