<% provide(:title, 'All Todo Memos') %>
<h2>タスク一覧</h2>

<%= link_to '新規登録', new_task_path, class: 'btn btn-panel2' %>

<table class="table table-hover">
  <thead class="thead-default">
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>登録日時</th>
    <th>#</th>
    <th>#</th>
  </tr>
  </thead>
  <tbody>
  <%= render @tasks %>
  </tbody>
</table>
