<% provide(:title, 'All users') %>
<div class="row">
  <aside class="col-lg-4">
  <h2>ログインユーザー</h2>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <span><%= link_to "プロフィールを見る",
              current_user %></span>
  </aside>
  <div class="col-lg-8">
  <h1>ユーザー一覧</h1>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
