<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'アカウントを作る') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>サインアップ</h1>
      <div class="form-wrapper">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
