<h1><%= current_user.name %></h1>
<p><%= current_user.email %></p>
<% if current_user.image? %>
  <%= image_tag current_user.image.url %>
<% else %>
  <%= image_tag('/images/icon/no-image.png') %>
<% end %>
